In [1]:
import pandas as pd
from pandas.tseries.offsets import MonthBegin
import matplotlib.pyplot as plt
import numpy as np
from dateutil.relativedelta import relativedelta

In [2]:
url = 'https://www.cba.am/stat/stat_data_eng/5_Deposits%20by%20sectors_eng.xlsx'

In [3]:
deposits = pd.read_excel(url)

print(deposits)

    COMMERCIAL BANKS DEPOSITS BY SECTORS OF ECONOMY 1           Unnamed: 1  \
0                            (end of period, mln AMD)                  NaN
1                                                 NaN                  NaN
2                                             Column1            Column110
3                                                 NaN  2000-01-01 00:00:00
4                                      Non Residents2         33613.476513
5                                                  FX         31572.713943
6                                                 AMD           2040.76257
7                                           Residents         66613.842576
8                                                 AMD         15730.223768
9                Demand Deposits (including accounts)         11342.443363
10                         Non-Financial Corporations          9484.700614
11                                            Private          6029.187453
12                                             Public          3455.513161
13                                         Households          1360.784756
14                           Non-Profit Organizations           496.957994
15                       Other Financial Corporations                  NaN
16                                      Time Deposits          4387.780405
17                         Non-Financial Corporations              844.785
18                                            Private              364.767
19                                             Public              480.018
20                                         Households          2393.152405
21                           Non-Profit Organizations             1146.733
22                       Other Financial Corporations                  NaN
23                               Deposit certificetes                  NaN
24         Liabilities on repo agreements to resid...                 3.11
25                                                 FX         50883.618809
26               Demand Deposits (including accounts)         16937.983443
27                         Non-Financial Corporations           6419.72718
28                                            Private          5161.223625
29                                             Public          1258.503555
30                                         Households          7570.359948
31                           Non-Profit Organizations          2947.896315
32                       Other Financial Corporations                  NaN
33                                      Time Deposits         33945.635366
34                         Non-Financial Corporations          11980.46858
35                                            Private           8785.37658
36                                             Public             3195.092
37                                         Households         20989.771845
38                           Non-Profit Organizations            975.39494
39                       Other Financial Corporations                  NaN
40                               Deposit certificetes                  NaN
41         Liabilities on repo agreements to resid...                  NaN
42                                     TOTAL DEPOSITS         100227.31909
43                                                NaN                  NaN
44  1 Data compiled according to the statistics ma...                  NaN
45  2 Demand (including accounts) and time deposit...                  NaN
46                                                NaN                  NaN
47                                                NaN                  NaN
48   Data are formed according to Statistical Manual.                  NaN
49                                                NaN                  NaN
50  Data compiled according to the manual on stati...                  NaN

             Unnamed: 2           Unnamed: 3           Unnamed: 4  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2             Column109            Column108            Column107
3   2000-02-01 00:00:00  2000-03-01 00:00:00  2000-04-01 00:00:00
4           36235.50889         36692.335805         39688.995416
5           34065.64132         34410.681801         37180.982413
6            2169.86757          2281.654003          2508.013003
7          68854.367334         73008.897743         72366.141054
8          14671.047321         16024.333383         15840.816492
9           9666.823651         10310.304523          9974.427442
10          7611.725325          8002.976072          7600.611384
11           4833.89981          5248.237502          4129.267486
12          2777.825515           2754.73857          3471.343898
13          1518.844928          1609.281055          1673.179644
14           536.253398           698.047395           700.636414
15                  NaN                  NaN                  NaN
16           5004.22367           5714.02886           5866.38905
17            912.83768              848.872            1034.8408
18            494.59568              461.896             491.0138
19              418.242              386.976              543.827
20           2629.10399           2791.33386           2981.49925
21             1167.101             1170.042             1187.671
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24              295.181              903.781              662.378
25         54183.320013         56984.564361         56525.324563
26         18753.295301         19566.104929         17308.139188
27          8066.828202          8246.523182          6953.766578
28           6682.26276          6427.458847           5458.65039
29          1384.565442          1819.064336          1495.116188
30          7629.682964          8042.536425          7652.084556
31          3056.784135          3277.045321          2702.288054
32                  NaN                  NaN                  NaN
33         35430.024712         37418.459432         39217.185375
34          11893.14852           12327.6835           13485.7798
35           8670.74752            9286.7755           10431.0638
36             3222.401             3040.908             3054.716
37         22559.947272         23934.413016         24373.172605
38           976.928921          1156.362917          1358.232969
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN
41                  NaN                  NaN                  NaN
42        105089.876224        109701.233548        112055.136471
43                  NaN                  NaN                  NaN
44                  NaN                  NaN                  NaN
45                  NaN                  NaN                  NaN
46                  NaN                  NaN                  NaN
47                  NaN                  NaN                  NaN
48                  NaN                  NaN                  NaN
49                  NaN                  NaN                  NaN
50                  NaN                  NaN                  NaN

             Unnamed: 5           Unnamed: 6           Unnamed: 7  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2             Column106            Column105            Column111
3   2000-05-01 00:00:00  2000-06-01 00:00:00  2000-07-01 00:00:00
4          39320.402504         36195.297466         33533.855067
5            37380.9535         34191.593463         31464.172064
6           1939.449003          2003.704003          2069.683003
7          73327.849158         79470.102786         81713.070434
8          15716.463386         16174.053715         16607.110377
9          10180.951656         10926.057085         11514.167117
10          7991.525852          8761.168453          9192.814926
11          4777.965886          6042.749322           6211.72972
12          3213.559966           2718.41913          2981.085206
13          1616.324579          1515.043197          1616.806449
14           573.101225           649.845435           704.545742
15                  NaN                  NaN                  NaN
16           5535.51173           5247.99663           5092.94326
17           1295.45948           1023.37538            979.68601
18            820.20948            608.50038            618.94101
19               475.25              414.875              360.745
20           2911.17825           3005.78325           2963.12625
21             1217.974             1218.838             1150.131
22                  NaN                  NaN                  NaN
23                  NaN                  NaN                  NaN
24                110.9                    0                    0
25         57611.385772         63296.049071         65105.960057
26         16749.604058         20132.443446         18767.284462
27          6194.530228          6783.000987          7950.053647
28          4750.659909          5285.615323          6358.896526
29          1443.870319          1497.385664          1591.157122
30          7839.287712          8576.860259          7948.065334
31          2715.786118            4772.5822          2869.165481
32                  NaN                  NaN                  NaN
33         40861.781713         43163.605626         46338.675595
34            14057.068           15599.2935          16138.19725
35            11528.967           12816.2415          11935.11425
36             2528.101             2783.052             4203.083
37         25422.821646         26561.941866         27959.358122
38          1381.892068          1002.370259          2241.120223
39                  NaN                  NaN                  NaN
40                  NaN                  NaN                  NaN
41                  NaN                  NaN                  NaN
42        112648.251662        115665.400252        115246.925501
43                  NaN                  NaN                  NaN
44                  NaN                  NaN                  NaN
45                  NaN                  NaN                  NaN
46                  NaN                  NaN                  NaN
47                  NaN                  NaN                  NaN
48                  NaN                  NaN                  NaN
49                  NaN                  NaN                  NaN
50                  NaN                  NaN                  NaN

             Unnamed: 8           Unnamed: 9  ...         Unnamed: 280  \
0                   NaN                  NaN  ...                  NaN
1                   NaN                  NaN  ...                  NaN
2             Column104              Column2  ...                  NaN
3   2000-08-01 00:00:00  2000-09-01 00:00:00  ...  2023-04-30 00:00:00
4          33443.851626         36586.924169  ...       1312969.261162
5          31245.287623         34056.416926  ...       1098319.819147
6           2198.564003          2530.507243  ...        214649.442016
7           81865.37047         84366.543937  ...       3821478.121789
8          15722.969591         16513.934602  ...       2153330.692566
9          11014.266161         12404.774352  ...        987476.336949
10          8353.059651          9675.893318  ...        489170.895068
11          5810.229305          6696.085059  ...        481354.624857
12          2542.830345          2979.808259  ...          7816.270211
13          1947.850096          1996.085939  ...         384013.11993
14           713.356414           732.795095  ...         46610.979679
15                  NaN                  NaN  ...         67681.342272
16           4708.70343           4109.16025  ...       1165854.355616
17           1751.78318             1133.917  ...        172824.137473
18           1483.46118               734.82  ...        114119.398473
19              268.322              399.097  ...            58704.739
20           2814.41525           2819.52525  ...        712641.908964
21              142.505              114.218  ...           80474.0727
22                  NaN                  NaN  ...        198250.130479
23                  NaN                  NaN  ...                    0
24                    0                 41.5  ...             1664.106
25         66142.400879         67852.609335  ...       1668147.429224
26         18748.819471         20245.276939  ...        859891.651326
27          7299.323151          8006.504658  ...        349111.759155
28          5339.517386          6266.252596  ...        343880.275764
29          1959.805765          1740.252062  ...          5231.483391
30          8517.718994          9074.644659  ...        446223.893405
31          2931.777325          3164.127623  ...         18326.353643
32                  NaN                  NaN  ...         46229.645122
33         47393.581408         47607.332396  ...        808255.777897
34          15837.75585          15601.20678  ...         60724.113793
35          11735.23385          11174.77478  ...         59732.368793
36             4102.522             4426.432  ...              991.745
37         28749.394429          29306.25255  ...        710845.447288
38          2806.431129          2699.873065  ...         21194.558826
39                  NaN                  NaN  ...          15491.65799
40                  NaN                  NaN  ...                    0
41                  NaN                  NaN  ...                    0
42        115309.222096        120953.468106  ...       5134447.382952
43                  NaN                  NaN  ...                  NaN
44                  NaN                  NaN  ...                  NaN
45                  NaN                  NaN  ...                  NaN
46                  NaN                  NaN  ...                  NaN
47                  NaN                  NaN  ...                  NaN
48                  NaN                  NaN  ...                  NaN
49                  NaN                  NaN  ...                  NaN
50                  NaN                  NaN  ...                  NaN

           Unnamed: 281         Unnamed: 282         Unnamed: 283  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3   2023-05-31 00:00:00  2023-06-30 00:00:00  2023-07-31 00:00:00
4        1301003.644924       1307361.079367       1273354.971649
5        1084543.616279       1090252.038067       1044657.032736
6         216460.028645        217109.041301        228697.938913
7         3846284.76817       3876189.196317       3962393.947958
8        2236540.540764       2287382.329783       2344087.231166
9        1014431.321804       1049525.575696       1067687.884633
10        519347.915246        541029.389953        556832.237187
11        508970.461371        527742.734872        543254.504184
12         10377.453874         13286.655081         13577.733003
13        392469.492668        413957.973344        426148.365003
14         47915.634311         45670.110376         45948.366729
15          54698.27958         48868.102023         38758.915714
16        1222109.21896       1237856.754086       1276399.346533
17        182478.716576        179151.886283        192701.403758
18        123148.643576        130266.018283        148295.969758
19            59330.073            48885.868            44405.434
20        740782.345204         755614.76594        772568.301911
21           82725.1957           85008.4797           80414.9247
22        211505.075479        217181.082164        229362.146164
23                    0                    0                    0
24             4617.886               900.54              1352.57
25       1609744.227406       1588806.866534       1618306.716792
26        805810.579531        775261.845752        781055.505676
27        307451.947196        290317.366908        294510.423845
28        303212.108643        285687.188854        290476.186845
29          4239.838553          4630.178054             4034.237
30        427959.837719        414967.953328        422054.089976
31         21396.108348         19940.923287         20175.081034
32         49002.686268         50035.602228         44315.910821
33        803933.647875        813545.020782        837251.211116
34         64172.785439          68841.92628         87272.626374
35         63181.155439          67890.67728         82490.760374
36               991.63              951.249             4781.866
37        704323.372213        710789.988509        715531.311246
38         21139.421664          20880.54289         21173.611474
39          14298.06856         13032.563103         13273.662023
40                    0                    0                    0
41                    0                    0                    0
42       5147288.413095       5183550.275684       5235748.919607
43                  NaN                  NaN                  NaN
44                  NaN                  NaN                  NaN
45                  NaN                  NaN                  NaN
46                  NaN                  NaN                  NaN
47                  NaN                  NaN                  NaN
48                  NaN                  NaN                  NaN
49                  NaN                  NaN                  NaN
50                  NaN                  NaN                  NaN

           Unnamed: 284         Unnamed: 285         Unnamed: 286  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3   2023-08-31 00:00:00  2023-09-30 00:00:00  2023-10-31 00:00:00
4         1281858.39452       1286039.329468       1332849.161645
5        1031072.010375        1048449.83182       1093568.742394
6         250786.384145        237589.497647        239280.419252
7         4064868.47911       4094734.428574       4202574.867869
8        2406513.510786        2394036.12479       2438864.758798
9        1097881.096497       1091667.751162       1112107.443555
10        577939.103529         573302.80073        590171.543634
11        554072.845387        548974.434459        568181.327907
12         23866.258141          24328.36627         21990.215728
13        428502.921847        418982.500242        422729.383033
14         47207.771147         47893.498099         51309.899739
15         44231.299975         51488.952091         47896.617149
16       1308632.414289       1302368.373627       1326757.315243
17        195659.318735        198170.131257         217054.86126
18        156377.695735        158412.108257         174644.83826
19            39281.623            39758.023            42410.023
20        796390.942691        797014.111515        801771.069941
21           83108.0027           82450.5707           86747.4767
22        231572.598164        222853.269156        219678.616342
23                    0                    0                    0
24             1901.552             1880.291             1505.291
25       1658354.968324       1700698.303784        1763710.10907
26        820015.394281        849023.325279        868943.548093
27        304285.313255        324716.548463        328054.029754
28        299855.324438        320036.989919        321107.027882
29          4429.988816          4679.558544          6947.001873

In [4]:
# Step 1: Extract years and values
years = deposits.iloc[3, 1:]  # Skip the first column which is a description, not a year
residents = deposits.iloc[7, 1:]  # Similarly, skip the description column
fx = deposits.iloc[25, 1:]

# Step 2: Create a new DataFrame with 'Year' and 'Total loans of banking system / GDP' as columns
deposits_new = pd.DataFrame({
    'Time_Period': years.values,  # Convert to array to ensure proper formatting
    'Residents': residents.values,  # Ditto
    'FX': fx.values
})

In [5]:
deposits_new

    Time_Period       Residents              FX
0    2000-01-01    66613.842576    50883.618809
1    2000-02-01    68854.367334    54183.320013
2    2000-03-01    73008.897743    56984.564361
3    2000-04-01    72366.141054    56525.324563
4    2000-05-01    73327.849158    57611.385772
..          ...             ...             ...
284  2023-09-30  4094734.428574  1700698.303784
285  2023-10-31  4202574.867869   1763710.10907
286  2023-11-30  4230840.320815  1756651.023428
287  2023-12-31  4320279.315355   1755887.26559
288  2024-01-31   4267342.85177  1744397.570658

[289 rows x 3 columns]

In [6]:
deposits_new['Dolarization'] = deposits_new['Residents']/deposits_new['FX']

In [7]:
deposits_new = deposits_new.drop('FX', axis = 1)
deposits_new = deposits_new.drop('Residents', axis = 1)

In [8]:
deposits_new['Time_Period'] = pd.to_datetime(deposits_new['Time_Period'])
deposits_new['Dolarization'] = pd.to_numeric(deposits_new['Dolarization'])

In [9]:
deposits_new

    Time_Period  Dolarization
0    2000-01-01      1.309141
1    2000-02-01      1.270767
2    2000-03-01      1.281205
3    2000-04-01      1.280243
4    2000-05-01      1.272801
..          ...           ...
284  2023-09-30      2.407678
285  2023-10-31      2.382804
286  2023-11-30      2.408469
287  2023-12-31      2.460454
288  2024-01-31      2.446313

[289 rows x 2 columns]

In [10]:
deposits_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time_Period   289 non-null    datetime64[ns]
 1   Dolarization  289 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.6 KB